/**
 * Search Field
 * -------------------------------------------------------------------------- */

.search-field {
    transition: width .36s;
    width: 50%;
}

@media (max-width: 1023.98px) {

    .search-field {
        width: 70%;
    }

    .search-field.search-closed {
        width: 46px;
    }

    .search-field.search-closed .q-field__control {
        background: transparent !important;
    }
}

/**
 * Github Markdown CSS
 */

.markdown-body {
    background-color: transparent !important;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

:root {
    --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
    --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");

}

[class*='language-'] > button.copy {
    position: absolute;
    right: 8px;
    z-index: 3;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: #1a1a1a;
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: opacity 0.4s;
    opacity: 0;
}

[class*='language-']:hover > button.copy,
[class*='language-'] > button.copy:focus {
    opacity: 1;
}

[class*='language-'] > button.copy.copied,
[class*='language-'] > button.copy:hover.copied {
    border-radius: 0 4px 4px 0;
    background-color: rgba(255, 255, 255, 0.05);
    background-image: var(--vp-icon-copied);
}

[class*='language-'] > button.copy.copied::before,
[class*='language-'] > button.copy:hover.copied::before {
    position: relative;
    left: -65px;
    display: block;
    border-radius: 4px 0 0 4px;
    padding-top: 8px;
    width: 64px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgba(235, 235, 235, 0.6);
    background-color: var(--vp-code-copy-code-hover-bg);
    white-space: nowrap;
    content: 'Copied';
}

[class*='language-'] > span.lang {
    position: absolute;
    right: 12px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: rgba(235, 235, 235, 0.38);
    transition: color 0.4s, opacity 0.4s;
}

[class*='language-']:hover > button.copy + span.lang,
[class*='language-'] > button.copy:focus + span.lang {
    opacity: 0;
}

/* Animate CSS */

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}